<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="Suite1" thread-count="3"  parallel="tests" verbose="1" preserve-order="false" configfailurepolicy="continue"> 
 	<!-- <listeners>
		<listener class-name="com.bugzilla.listerner.overrides.methondListener" />
		<listener class-name="com.bugzilla.listerner.overrides.testListener" />
	</listeners>  -->
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>

 <parameter name="browser" value="firefox"></parameter>
  <test name="Nopackage" >
	<parameter name="environment" value="QA2"/>
	 <parameter name="browser" value="firefox"></parameter> 
    <classes>
        <class name="com.bugzilla.test.auth.BasicLoginLogout" />
       <class name="com.bugzilla.test.searchBugs.PlainSearch" />
       <class name="com.bugzilla.test.auth.PlainVanila" />
       <class name="com.bugzilla.test.bug.createNew.CreateNewBug" /> 
    </classes>
  </test>
   <test name="Nopackage2" >
	<parameter name="environment" value="QA2"/>
	 <parameter name="browser" value="firefox"></parameter> 
    <classes>
        <class name="com.bugzilla.test.auth.BasicLoginLogout" />
       <class name="com.bugzilla.test.searchBugs.PlainSearch" />
       <class name="com.bugzilla.test.auth.PlainVanila" />
       <class name="com.bugzilla.test.bug.createNew.CreateNewBug" /> 
    </classes>
  </test>
 <test name="Nopackage1" >
 	 <parameter name="browser" value="firefox"></parameter> 
    <classes>
        <class name="com.bugzilla.test.auth.BasicLoginLogout" />
       <class name="com.bugzilla.test.searchBugs.PlainSearch" />
       <class name="com.bugzilla.test.auth.PlainVanila" />
       <class name="com.bugzilla.test.bug.createNew.CreateNewBug" /> 
    </classes>
  </test>
 </suite>

 