<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="Suite1" thread-count="5" parallel="classes" verbose="1" > 
	<listeners>
		<listener class-name="com.bugzilla.support.groups.CustomListener" />
	</listeners>
 <parameter name="browser" value="firefox"></parameter>
  <test name="Nopackage" >
	<parameter name="environment" value="QA2"/>
	 <parameter name="browser" value="firefox"></parameter> 
    <classes>
       <class name="com.bugzilla.test.auth.BasicLoginLogout" />
       <class name="com.bugzilla.test.searchBugs.PlainSearch" />
    </classes>
  </test>
 <test name="Nopackage1" >
    <classes>
       <class name="com.bugzilla.test.bug.createNew.PlainVanila" />
       <class name="com.bugzilla.test.bug.createNew.CreateNewBug" />
    </classes>
  </test>
 </suite>

 